<h2>Course Info</h2>

<hr />

<form #courseForm="ngForm" *ngIf="course">

  <div class="form-group row mt-2">
    <label for="" class="col-sm-2 col-from-label">Name:</label>

    <div class="col-sm-10">
      <input [(ngModel)]="course.name" required name="name" #courseName="ngModel" type="text" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
      <!--[ngClass]="{'1ºparam': condição}" permite passar class dinâmicas-->

      <div class="invalid-feedback">
        <span>Course Name is required</span>
      </div>
    </div>

  </div>

  <div class="form-group row mt-2">
    <label for="" class="col-sm-2 col-from-label">Price:</label>

    <div class="col-sm-10">
      <input [(ngModel)]="course.price" required name="price" type="number" #coursePrice="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
      <!--[ngClass]="{'1ºparam': condição}" permite passar class dinâmicas-->

      <div class="invalid-feedback">
        <span>Course Price is required</span>
      </div>
    </div>

  </div>

  <div class="form-group row mt-2">
    <label for="" class="col-sm-2 col-from-label">Rating:</label>

    <div class="col-sm-10">
      <input [(ngModel)]="course.rating" required name="rating" type="number" #courseRating="ngModel" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
      <!--[ngClass]="{'1ºparam': condição}" permite passar class dinâmicas-->

      <div class="invalid-feedback">
        <span>Course Rating is required</span>
      </div>
    </div>

  </div>

  <div class="form-group row mt-2">
    <label for="" class="col-sm-2 col-from-label">Description:</label>

    <div class="col-sm-10">
      <textarea [(ngModel)]="course.description" required name="description" #courseDescription="ngModel"
      [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control"></textarea>
      <!--[ngClass]="{'1ºparam': condição}" permite passar class dinâmicas-->

      <div class="invalid-feedback">
        <span>Course Description is required</span>
      </div>
    </div>

  </div>

  <button [disabled]="courseForm.invalid" (click)="save()" class="btn btn-primary mx-2">Save</button>
  <button [routerLink]="['/courses']" class="btn btn-secondary mx-2">Back</button>

</form>












