<!--interpolção, esse dado está no app.component.ts -->
<!--
{{ title }}
<br/>

{{ name }}
<br/>
-->

<!-- ONE way data bind - ele só irá exibir oq foi feito daqui pra lá-->

<!--            "name" = é a variável criada por mim         -->

<!--
<input [ngModel]="name" name="name" />
<br/>
-->

<!-- TWO way data bind - ele irá exibir e altera o valor - do code p/ page e vice-versa-->

<!--            testar digitando nos inputs       -->

<!--
<input [(ngModel)]="title" name="title" />
<br/>
-->


